<div class="container">
    <h4>Star Rating</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Rating</th>
                <th>Size</th>
                <th>Star</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2.5</td>
                <td>20</td>
                <td>
                    <app-star [rating]=2.5 [size]=20></app-star>
                </td>
            </tr>
            <tr>
                <td>4.8</td>
                <td>50</td>
                <td>
                    <app-star [rating]=4.8 [size]=50></app-star>
                </td>
            </tr>
            <tr>
                <td>4.9</td>
                <td>Default</td>
                <td>
                    <app-star [rating]=4.9></app-star>
                </td>
            </tr>
        </tbody>
    </table>
</div>

