<div class="container">
    <h4>Star Rating System</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Rating</th>
                <th>Size</th>
                <th>Star</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>4.9</td>
                <td>Default</td>
                <td data-toggle="tooltip" [title]="rating">
                    <app-star [rating]=4.9 (state)="onState($event)"></app-star>
                </td>
            </tr>
        </tbody>
    </table>
</div>