.container {
    margin-top: 5%;
    border: 1px solid gray;
    padding: 0px;
}

.container > h2 {
    border-bottom: 1px solid gray;
    background-color: darkturquoise;
    height: 50px;
    padding: 5px;
}

.show{
    display: block;
}

.hide{
    display: none;
}