.show {
    display: block;
}

.hide{
    display: none;
}

.title-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-div input{
    width:20%;
}

.container{
    margin-top:100px;
    border: 1px solid gray;
    padding: 0px;
}

.container > .title-div {
    border-bottom: 1px solid gray;
    background-color: darkturquoise;
    height: 50px;
    padding: 5px;
}

.show{
    display: block;
}

.hide{
    display: none;
}