.align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 0 10px 0;
}

button a {
    text-decoration: none;
    color:black;
}

.show{
    display: block;
}

.hide{
    display: none;
}