<div class="container">
    <h3>Number API:</h3>
    <form name="getNum">
        <div class="form-group">
            <label for="email">Enter Number:</label>
            <input type="number" [(ngModel)]="number" name="numbers" class="form-control" placeholder="Enter Number"
                required>
            <div style="color:red">{{msg}}</div>
        </div>
        <button type="submit" (click)="onClick()" [disabled]="buttonst" class="btn btn-primary">Get Fact</button>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" [(ngModel)]="filterCondition" name="button" type="checkbox">
                Odd Only
            </label>
        </div>
    </form>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fact</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let st of numberstatus | odd:filterCondition">
                    <td>{{st.num}}</td>
                    <td>{{st.fact}}</td>
                    <td>{{st.time.fromNow()}}</td>
                </tr>
            </tbody>
        </table>
        <!-- <li *ngFor="let st of numberstatus | odd:filterCondition">{{st.fact}}</li> -->
    </div>
</div>