<app-loader [class]="loader"></app-loader>
<div [class]="mainDiv">
    <article class="align">
        <h5>Total Student Found: {{studentData.length}}</h5><a routerLink="/add"><button type="button"
                class="btn btn-info">Add
                Student</button></a>
    </article>
    <section>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Sr.</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of studentData; let ind = index">
                    <td [innerHTML]="ind+1"></td>
                    <td [innerHTML]="student.id"></td>
                    <td [innerHTML]="student.name"></td>
                    <td [innerHTML]="student.email"></td>
                    <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"
                            (click)="getStudData(student)">View</button></td>
                    <td>
                        <a routerLink="/edit/{{student.id}}">
                            <button type="button" class="btn btn-primary" [disabled]="editButton">
                                Edit
                            </button>
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" [disabled]="deleteButton"
                            (click)="deleteStudent(student.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Student Detail</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <app-view [student]="index"></app-view>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>