<table class="table table-hover">
    <thead>
        <tr>
            <!-- <th>Firstname</th>
            <th>Lastname</th> -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{student.name}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{student.email}}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{student.age}}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{student.date}}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{student.isMale | getGender}}</td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{student.id}}</td>
        </tr>
    </tbody>
</table>